/**
 * Topic configuration variables
 * A configuration variable that overrides the default theme
 */

// Code block style
$code-line-height: 1.5; // Lines of code are high
$code-font-size: 0.9em; // Code font size
$code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; // Code fonts

// Content layout
$content-font-size: 16px; // Content font size
$content-heading-font-weight: 500; // Title font weight
$content-heading-font-family:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif; // Title font
